/* @font-face {
  font-family: Fipps-Regular;
  src: url("fonts/Fipps-Regular.woff") format("woff");
} */

.resume--app {
  text-align: center;
  box-sizing: border-box;
  font-size: 10px;
  font-family: Helvetica;

}



.resume--front-page--container {
  /* background: lightgrey; */
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

}

.resume--container__surname--container{
  flex-grow: 1;
  display: flex;
  align-content: center;

  justify-content: center;
  background: transparent;
}

.resume--container__surname{
  z-index: 1;
  position: absolute;
  left: 42%;
  top:35%;
  align-self: center;
  justify-self: center;
  /* background: white; */
  font-size: 2.5rem;
  font-weight: bold;
}

.resume--container__sections--container {
  align-self: stretch;
  width: 100%;
  /* background: lightgrey; */
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.resume--container__section{
  font-size: 2.5rem;
  font-weight: bold;
  width: 100%;
  min-height: 6vh;
  color: beige;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.resume--container__section:hover{
  text-shadow: 2px 2px black;
  animation: example_in 300ms forwards;
  cursor: pointer;
}


.resume--container__section:hover > .arrow-up{
  top:20px;
  border-left: none;
  border-right: none;
}

.resume--container__section:hover > .arrow-down{
  bottom:20px;
  border-left: none;
  border-right: none;
}


@keyframes example_in {
  0%   {height: 25vh;}
  25%  {height: 50vh;}
  50%  {height: 75vh;}
  100% {height: 98vh;}
}


@keyframes example_out {
  0% {height: 98vh;}
  25%  {height: 75vh;}
  50%   {height: 25vh;}
  100%  {height: 50vh;}
  
}


.profile--section{
  background-color: orange;

}


.resume--section{
  background-color: royalblue;
}

.skill--section{
  background-color: azure;
  color: darkcyan;
}

.contact--section{
  background-color: purple;
}

.arrow-up {
  position: absolute;
  top:-15px;
  left:50%;
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}



.arrow-up--profile {
  border-bottom: 15px solid orange ;
}

.arrow-up--profile:hover {
  border-bottom: 15px solid orange ;
}

.arrow-up--resume {
  border-bottom: 15px solid royalblue ;
}

.arrow-down {
  position: absolute;
  bottom: -15px;
  left:50%;
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  
}

.arrow-down--profile {
  border-top: 15px solid orange;
}

.arrow-down--resume {
  border-top: 15px solid royalblue;
}

/* PROFILE PAGE  */


.resume--profile-page--container {
  /* background: yellow; */
  background-size: cover;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;

  position: relative;
}

.resume--profile-page--pic{
  background-color: lightgray;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resume--profile-page--bio{
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 2rem;
}

.resume--profile-page--header--container{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  
}

.resume--profile-page--header--title{
  font-size: 4rem;
  /* margin-top: 3rem;
  margin-right: 2rem; */
  font-weight: 100;
  align-self: flex-end;
}

.resume--profile-page--line--break{
  width: 200px;
  color:black;
  border: 3px solid black;
  /* margin-right:3rem; */
  /* margin-right: rem; */
  align-self: flex-end;
}

.resume--profile-page--edu__line--break{
  width: 200px;
  color:black;
  border: 3px solid black;
  align-self: flex-start;
  margin-right: 73px;
}

.resume--profile-page--paragraph{
  font-size: 2rem;
  color: rgb(109, 106, 106);
  text-align: justify;

}

.resume--profile-page--education{
  
  background-color: rgb(224, 224, 224);;

  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 2rem;

  position: relative;
}


.profile-page--pic{
  border-radius: 50%;
}


.resume--profile-page--header--education{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.resume--profile-page--education--title{
  font-size: 4rem;
  /* margin-top: 3rem;
  margin-right: 2rem; */
  font-weight: 100;
}


.resume--profile-page--education_schools{
  /* background-color: yellow; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  font-size: 2rem;
}

.resume--profile-page--education_school{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

}


.resume--profile-page--home-page{
  position: absolute;
  background-color: purple;
  height: 50px;
  width: 50px;
  top:0;
  right: 0;
  margin: 2rem;
  border:none;
  border-radius:10px;
  cursor:pointer;
}

.resume--profile-page--home-icon{
  color:white;
}